.conventer {
  &__wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }

  &__header {
    margin-top: 0.625rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-item {
    flex-basis: 30%;
    display: flex;
    flex-flow: column;
    gap: 0.625rem;
  }

  &__title {
    font-size: 1rem;
    color: #777;
    font-weight: 400;
  }

  &__calc {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 460px) {
      flex-flow: column;
      gap: 10px;
    }
  }

  &__calc-item {
    width: 40%;
    height: 100px;
    padding: 0.625rem;
    border: 1px solid #cdcdcd;
    @media(max-width: 460px) {
      width: 340px;
    }
  }

  &__calc-info {
    margin-top: 0.625rem;
    font-size: 1rem;
  }

  &__calc-img {
    width: 50px;
    height: 50px;
  }

  &__data-info {
    margin-top: 2rem;
    font-size: 1rem;
    color: gray;
  }
}

